.footer {
  display: flex;
  width: 100%;
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 42, 61, 0.9);

  padding-top: 5vh;

  .footerContent {
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 30vh;

	.footerItem {
	  width: 25%;

	  h2 {
		font-size: 2.1rem;
		font-family: 'Bebas Neue', sans-serif;
		color: var(--color-primary);
	  }

	  h4 {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--color-primary);
	  }

	  p {
		color: var(--color-primary);
	  }

	  .networks {
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
		  display: flex;
		  width: 3vw;
		  height: 3vw;
		  border: 1px solid var(--color-primary);
		  align-items: center;
		  justify-content: center;
		  border-radius: 50%;
		  transition: 0.3s all ease;

		  img {
			width: 15px;
			height: 15px;
		  }
		}

		a:hover {
		  transform: scale(1.2);
		}
	  }

	  .footerText {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 20vh;

		p {
		  font-size: 1.1rem;
		  color: var(--color-primary);
		}

		a {
		  color: var(--color-primary);
		  text-decoration: none;
		}

		.footerBtn {

		  button {
			border: none;
			width: 100%;
			height: 5vh;
			background: var(--color-text);
			cursor: pointer;
			border-radius: 5px;

			p {
			  font-family: 'Bebas Neue', sans-serif;
			  transition: 0.1s all ease;
			}
		  }

		  button:hover p {
			transform: scale(1.05);

		  }
		}
	  }
	}
  }

  .copyright {
	display: flex;
	width: 100%;
	height: 10vh;
	align-items: center;
	border-top: 1px solid var(--color-primary);
	margin-top: 10px;

	p {
	  padding: 10px;
	  color: var(--color-primary);
	}
  }

}




@media screen and (max-width: 936px) {

  .footer {
	height: 70vh;
	justify-content: normal;

	.footerContent {
	  flex-direction: column;
	  height: 60vh;
	  align-items: center;

	  .footerItem {
		width: 100%;
		height: 10vh;


		.networks {
		  a {
			width: 15vw;
			height: 15vw;

			img {
			  width: 30px;
			  height: 30px;
			}
		  }

		}

		.footerText {
		  height: 5vh;
		}
	  }


	}
  }
}