@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&display=swap');

body::-webkit-scrollbar {
    display: none !important;
  }
  
  /* IE y Edge */
  body {
    -ms-overflow-style: none !important;
    
  }
  
  /* Firefox */
  body {
    scrollbar-width: none !important;
  }
.title{
  height: auto;
}
.projectstitle{
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
.presentation {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.bubbles{
  position:absolute;
  width: 100px;
  height: 100px;
  animation: moveUpDown 2s infinite ease;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  
}
.bubbles span{
  background-image: linear-gradient(to bottom, #7928caad, #ae00a2a8, #c8007bad, #d000538e, #cb07319b);
  -webkit-background-clip: text; /* Para navegadores basados en Webkit (como Chrome y Safari) */
  background-clip: text;
  color: transparent; /* Hace que el texto sea transparente */
  font-weight: bold; /* Grosor de la fuente (opcional) */
  font-size: 2.5rem;
  
}
.bubble1{
  right: 12vw;
  top:20vh;
}
.bubble2{
  right: 4vw;
  top:60vh;
}
.bubble3{
  right: 35vw;
  top: 25vh;
}
.bubble4{
  right: 20vw;
  top: 40vh;
}
.presentation h1 {
    font-size: 4rem;
    font-weight: bold;
}

.presentation p {
    font-size: 1.3rem;

}

.presentation article {
    width: 60vw;
    margin-left: 10vw;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;

}

.ProjectContainer{
  margin-left: 0.8rem;


}

/*Animaciones*/

@keyframes moveUpDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(5px);
  }
}