:root {
 //Typography:
 --typo-main:                     'Helvetica Light Regular', arial, sans-serif;
 --typo-accent:                   'Heming Variable', ui-monospace,monospace;

@font-face {
    font-family: 'Heming Variable';
    src: local('Heming Variable'), local('Heming-Variable'),
        url('../assets/heming_variable-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light Regular';
    src: local('Helvetica Light Regular'), local('Helvetica-Light-Regular'),
        url('../assets/helvetica_light_regular-webfont.woff2') format('woff');
    font-weight: light;
    font-style: normal;
}

* , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    font-family: var(--typo-main);
    color:  #222222;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    max-width: 160rem;
    margin: auto;
    scroll-behavior: smooth;
    background-color:  #F8F9FA;
    max-width: 100%;
    overflow-x: hidden;
    cursor: default;
    height: 100%;
}  

body, main, div#root {
    height: 100%;
}

.main {
    position: relative;
}


::selection {
    background-color:   #BDBBFA;
    color:  #222222;
}

figure {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 1.6rem 0;
    border-bottom: 2px solid   #888989;
    border-top: 2px solid   #888989;
    width: 100%;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

.main {
    position: relative;
}
}