.extragap {
    @include MQ($tablet) {
      gap: 2.6rem;
    }
    @include MQ($desktop) {
      gap: 3.2rem;
    }
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .relative {
    position: relative;
  }
  
  .xtra-padding-btm {
    padding-bottom: 2rem;
  }
  