/*Importacion de la tipografia*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&display=swap');
/*Tipografia clases*/
/*Gradiantes*/
.gradiant-text-centre{
    
    background-image: linear-gradient(to bottom, #7928ca, #ac06ba, #d000a8, #eb0094, #ff0080);
  -webkit-background-clip: text; /* Para navegadores basados en Webkit (como Chrome y Safari) */
  background-clip: text;
  color: transparent; /* Hace que el texto sea transparente */
  font-weight: bold; /* Grosor de la fuente (opcional) */
  text-align: center

}
.gradiant-text{
    background-image: linear-gradient(to bottom, #7928ca, #ac06ba, #d000a8, #eb0094, #ff0080);
    -webkit-background-clip: text; /* Para navegadores basados en Webkit (como Chrome y Safari) */
    background-clip: text;
    color: transparent; /* Hace que el texto sea transparente */
    font-weight: bold; 
}


/*Variables de colores utilizadas a lo largo del proyecto*/
:root {
    --color-primary: #ffffff; /* Color primario #5A667D */
    --color-secondary: #A7B9F9; /* Color secundario #f6ebe1 */
    --color-text: #38383e;
    --color-nav:rgba(255, 255, 255, 0.76);
    --color-grisblanco:rgba(249,249,249,255);
    --color-gradiant: background-image: linear-gradient(to bottom, #7928ca, #ac06ba, #d000a8, #eb0094, #ff0080);
    --color--section:#383748;


  }
/*Color del selector*/
::selection{
    background-color: var(--color--section);
    color: #FFFFFF;

  }

  /*Ajustes globales de proyecto*/
  html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:var(--color-primary);
    color: var(--color-text);
}

h1,
h3,
h4,
h5,
h6,
p,
a,
span {
    
    
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-family: 'M PLUS 1 Code', monospace;
    
}
h2{
    font-size: 2rem;
    font-family: 'M PLUS 1 Code', monospace;
    
}

/*Botones*/
.button {
    font-size: 1rem;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'M PLUS 1 Code', monospace;
    color: var(--color-primary);
    background-color: #3c3c48c4;
    float: left;
    border: 3px solid var(--color-primary);
    float: left;
    border-radius: 12px;
    font-weight: bold;
    
}

.button:hover {
    background-color: var(--color-primary);
    color:  #383748;
}

/*Contenedores*/

.container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 0.8rem;
    padding-right: 0.8rem;
}
.container-grisaceo{
    background-color: var(--color-grisblanco);
 }

/* Estilos de contact*/

.contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:  2.6rem;
    padding-top:  7rem;
    padding-bottom:  7rem;
}

.container-contact{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #383748;
    color: var(--color-primary);
    text-align: center;
}
.container-contact p,h2{

    color: var(--color-primary);
    
}
.Network{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-primary);
    

}
.Network h3{
    text-decoration: underline;
    color: var(--color-primary);

}
.Network li{
    list-style: none;
}
.Network a{
    color: var(--color-primary);


}

/* Estilos About*/
 
.about-container{
    display: flex;
    
}

.education-container{
    width: 50vw;
    word-wrap: normal;
}
.work-container{
    width: 50vw;
}

/*PROJECT PAGE*/
.container-grisaceo-project{
    background-color: var(--color-grisblanco);
    width: 100vw;
    height: 100vh;

}


