body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: rgb(56, 56, 56);
    
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Heming Variable';
    src: local('Heming Variable'), local('Heming-Variable'),
        url('../assets/heming_variable-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light Regular';
    src: local('Helvetica Light Regular'), local('Helvetica-Light-Regular'),
        url('../assets/helvetica_light_regular-webfont.woff2') format('woff');
    font-weight: light;
    font-style: normal;
}