.nav-bar-container{
  margin:0;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; 
  padding-right: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  background-color: var(--color-nav);
  z-index: 100000000000;

  
}
.nav-bar-container li {
  margin-right: 1rem;
}
.nav-bar-container li,a{
  text-decoration: none;

}


.nav-bar-container a:hover{
  padding-bottom: 4px;
  border-bottom: 2px solid #ec57ac;
  background-image: linear-gradient(to bottom, #7928ca, #ae00a3, #c8007a, #d00054, #cb0732);
  -webkit-background-clip: text; /* Para navegadores basados en Webkit (como Chrome y Safari) */
  background-clip: text;
  color: transparent; /* Hace que el texto sea transparente */
  font-weight: bold; /* Grosor de la fuente (opcional) */

}

