.circulo {
    position: fixed;
    background-color: #a7b9f98a;
    background-image: linear-gradient(45deg, #a7b9f9b3 0%, #bdbbfaa3 22%, #f3cb82ac 49%, #f8f9fa9a 75%);
    
    border-radius: 50%;
    z-index: 1000;
    transition: all ease 0.65s;
    
}
.icon{
  width: 2.18rem;
  height: 2.18rem;
  position: fixed;
  right: 1.56rem;
  top: 0.6rem;
  z-index: 10000;
}


.barrita{
  width: 1.8rem;
  height: 0.2rem;
  margin-top: 0.56rem;
  margin-left: 0.62rem;
  background-color: #222222;
  transition: all ease 0.5s;
  
}

.navmenu{
    z-index: 3000;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: all ease 0.5s;


}
.navmenu li, a{
    list-style: none;
    text-decoration: none;
    color:#222222;
    font-size:4rem ;
    
}